.dependency {
  float: left;
  padding: .5em;
  margin: 2px;
  background-color: #900;
  color: #000;
  background-image: url(/assets/stone.png);
  border: 2px solid #aaa;
  border-radius: 10px;
  text-align: center;
}

.dependency a {
  color: #900;
}

h3 {
  font-size: 1.1em;
}
