body {
  background: #600;
  font-family: monospace;
  font-size: 1.2em;
  border: 5em solid #900;
  padding: 0em;
  color: #fff;
}

.body {
  padding: 2em;
  background-color: #eee;
}

a {
  color: #900;
}

h2, h3 {
  font-family: "Palatino", serif;
  text-align: center;
}

footer {
  background-color: #ddd;
  text-align: center;
  padding: 1em;
}

h2.supersized {
  text-align: center;
  font-size: 7rem;
  font-family: monospace;
}
