<h1>ICEBreaker</h1>

<% @dependencies.each do |dependency| %>
  <% next unless dependency.projects.any? %>
  <div class="dependency" style="font-size: 1.<%= dependency.weight %>em;">
    <h3><%= link_to dependency.name, dependency.url, target: "_new" %></h3>
    <h4><%= dependency.language %></h4>
    <% dependency.projects.each do |project| %>
      <%= link_to project.github_identifier, project.repo_url, target: "_new %><br />
    <% end %>
  </div>
<% end %>
